@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#stats {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  color: rgb(102, 102, 102);
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 400px;
  z-index: 10;
}
